.body_background
{
    background-image: url(bg1.jpg);
    background-position: center;
    background-size: cover ;
}
 
body
{
    color: rgb(60, 29, 234);
    font-size: 30px;
}

#myCanvas
{
    border-width: 15px;
    background-color: white;
    border-style: groove;
}


